@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f1720;
}

body { background-color: var(--bg); }

/* small helpers */
.grid-cols-14 { grid-template-columns: repeat(14, minmax(0, 1fr)); }
